*{
    margin: 0;
    padding: 0;
}

body{
    color: #61061f;
    font-family: 'Coronetscript', cursive;
}

.main{
    width: 100%;
}

header{
    width: 100%;
    background-color: #61061f;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;
    margin-bottom: 32px;
    font-size: 55px;
    font-family: 'Zapf Chancery', cursive;

}

form{
    border: 3px solid black;
    margin: 0 auto;
    padding: 32px;
    width: 30%;
    box-sizing: border-box;
}

label{
    font-size: 30px;
    font-weight: 500px;
    margin: auto;
}

input{
    display: block;
    border: none;
    border-bottom: 1px solid #b6c1ba;
    margin: 12px 32px 32px 0;
    font-size: 17px;
    width: 70%;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: #bec3c0;
}

.buttonspace{
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.buttonspace button{
    margin-top: 10px;
    border-radius: 40px;
    display: inline-block;
    padding: 8px 64px;
    font-family: 'Zapf Chancery', cursive;
    font-size: 18px;
}

#splitbtn{
    background-color: #61061f;
    color: white;
    transition: 0.4s;
}

#splitbtn:hover{
    background-color: white;
    color: black;
    border: 1px solid #61061f;
    cursor: pointer;
}

#resetbtn{
    background-color: #61061f;
    color: white;
    transition: 0.4s;
}

#resetbtn:hover{
    background-color: white;
    color: black;
    border: 1px solid #61061f;
    cursor: pointer;
}

#costPerson{
    padding-top: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: 200px;
    color: #61061f;    
}


footer {
    padding: 30px;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 600px){
    .main{
        width: 0%;
    }
    label{
        display: block;
    }
}